.nav {
  height: 10vh;
  background: #5b78c7;

  &-links {
    display: flex;
    list-style: none;
    height: 100%;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    padding-left: 0px;

    & > li, a {
        color: white;
        text-decoration: none;
        font-size: 18px;
    }
  }
} 

.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.hamburger {
  cursor: pointer;
}

@media screen and (max-width: 768px){
  .nav {
    height: 10vh;
    position: relative;
    
    &-links {
      position: fixed;
      background: #5b78c7;
      position: fixed;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -15%);
      -webkit-clip-path: circle(100px at 90% -15%);
      transition: all 1s ease-out;
      pointer-events: none;
      
        & > li {
        opacity: 0;
        }
    } 

    & li:nth-child(1){
      transition: all 0.5s ease 0.2s;
    }

    & li:nth-child(2){
      transition: all 0.5s ease 0.4s;
    }

    & li:nth-child(3){
      transition: all 0.5s ease 0.10s;
    }
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -15%);
    -webkit-clip-path: circle(1000px at 90% -15%);
    pointer-events: all;

    & > li {
      opacity: 1;
      }
  }

  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  .hamburger {
    position: absolute;
    right:5%;
    top: 50%; 
    transform: translate(-5%, -50%);
    z-index: 2
  }
}
